<template id="table-filter-pagination-template">
    <div style="display: flex;flex-wrap: wrap;">


        <div class="table-filter-pagination-filter-container" style="width: 100%;margin: 18px 0px;">
            <div class="row">
                <div class="col-xs-5 table-filter-pagination-filter">
                    <label for="table-filter-pagination-filter"> Filtro </label>
                    <input id="table-filter-pagination-filter" v-model="filter" v-on:keyup="gerarConteudoTabela" class="form-control" />
                </div>
                <div class="col-xs-2 table-filter-pagination-results-input">
                    <label for="table-filter-pagination-range">Registros por página</label>
                    <input id="table-filter-pagination-range" class="form-control" type="number" v-model="resultsPerPage" v-on:keyup="gerarConteudoTabela" v-on:change="gerarConteudoTabela" />
                </div>
            </div>
        </div>

        <div :class="isRelatorio? 'relatorio' : ''" style="width: 100%">
            <table class="table">
                <thead>
                    <template>
                        <slot name="table-header"></slot>
                    </template>
                </thead>
                <tbody>
                    <template v-for="dado in conteudo[paginaSelecionada]">
                        <slot name="table-rows" :dado="dado"></slot>
                    </template>
                </tbody>
            </table>
        </div>

        <div style="text-align: center;width: 100%;">
            <template v-for="(n, numeroBase) in 10" v-if="quantidadeTotalPaginas > 1">
                <template v-if="numeroBase + numeroBasePaginas <= quantidadeTotalPaginas">
                    <button type="button" class="btn btn-primary" v-on:click="paginaAnteriorESetarNumeroBase(numeroBase + numeroBasePaginas)" style="margin: 3px;" v-if="numeroBase == 0 && numeroBase + numeroBasePaginas > 9">
                        ...
                    </button>

                    <button type="button" :class="['btn', 'btn-primary', numeroBase + numeroBasePaginas == paginaSelecionada? 'active' : '']" v-on:click="onBtnPageClick(numeroBase + numeroBasePaginas)" style="margin: 3px;">
                        {{ numeroBase + numeroBasePaginas }}
                    </button>

                    <button type="button" class="btn btn-primary" v-on:click="proximaPaginaESetarNumeroBase(numeroBase + numeroBasePaginas)" style="margin: 3px;" v-if="numeroBase == 9 && numeroBase + numeroBasePaginas < quantidadeTotalPaginas">
                        ...
                    </button>
                </template>
            </template>
        </div>
    </div>
</template>